.wrapper {
  background-color: #f5f5f7;
  height: 100vh;
}

.header {
  background-color: #f5f5f7;
  border-radius: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 13px;
  left: 0;
}

.header__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 120px;
  border: 1px solid #cecece;
  position: relative;
  @media (max-width: 830px) {
    display: none;
  }
}

.header__item {
  padding: 10px 5px;
  background-color: #fcfcfd;
  border-radius: 40px;
  transition: all 0.4s ease;
  display: flex;
}

.header__link {
  color: #000000;
  transition: all 0.4s ease;
  display: flex;
  gap: 4px;
}

.header__item:hover {
  background-color: #000000;
  transition: all 0.4s ease;
}

.header__item:hover .header__link {
  color: #ffffff;
  transition: all 0.4s ease;
}

.header__arrow {
  display: flex;
  transition: all 0.3s ease;
}

.header__item:hover .header__arrow {
  transform: rotate(180deg);
  transition: all 0.4s ease;
}

.header__menu {
  padding: 12px 20px;
  background-color: #ff470a;
  border-radius: 40px;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: all 0.4s ease;
}

.header-btn__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa385;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}
.header-btn__arrow svg {
  transition: all 0.4s ease;
}

.header__menu:hover {
  background-color: #e43f08;
  transition: all 0.4s ease;
}

.header__menu:hover .header-btn__arrow svg {
  transform: translateX(3px);
  transition: all 0.4s ease;
}

/*.square {
  width: 300px;
  height: 300px;
  background-color: #ff470a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.squares__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.square__wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}*/

.page__container {
  margin-bottom: 48px;
}

.page__breadcrumbs {
}

.page__list {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 16px;
}

.page__link {
  color: #76757f;
}

.page__web-design-item-button {
  padding: 8px 12px;
  color: #000;
  font-size: 16px;
  transition: all 0.4s ease;
  background-color: #d1e1fb;
  border-radius: 100px;
}

.page__ai-summarize {
  font-size: 12px;
  line-height: 16px;
  gap: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-weight: 900;
  flex-wrap: wrap;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.page__ai-summarize__links {
  font-size: 18px;
  line-height: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  font-weight: 900;
  flex-wrap: wrap;
}

.page__ai-summarize__links a {
  background: red;
  justify-content: space-between;
  letter-spacing: -0.16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ff470a;
  color: #ffffff;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border-radius: 100px;
  transition: all 0.4s ease;
}

.header__burger {
  display: none;
  @media (max-width: 830px) {
    display: block;
  }
}

.squers{
  display:flex;
  gap:30px;
  justify-content: space-between;
}

.squers .squer{
  align-items: flex-start;
}

.squers .squer-yellowr{
  align-items: flex-end;
}

.squer{
  height: 20px;
  width: 20px;
  background-color: #e43f08 ;
  border-radius: 100%;
 
}

.squer-yellow{
  background-color: darkorange;
}