@use "../abstracts/index" as *;

.testimonials {
  background-color: $black;

  &__wrapper {
    padding-top: 80px;
    padding-bottom: 96px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  &__title {
    @extend %section__title;
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 24px;

  }

  &__arrow-left {
    padding: 20px;
    //margin: 20px;
    border: 1px solid $color-accent;
    border-radius: 4px;
    @include hover;
  }

  &__arrow-right {
    transform: scaleX(-1);
    padding: 20px;
    //margin: 20px;
    border: 1px solid $color-accent;
    border-radius: 4px;
    @include hover;
  }

  .swiper {
    //display: flex;
    //overflow-x: auto;
    gap: 24px;
    width: 100%;

  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    border: 1px solid $steel;
    padding: 24px;
    gap: 16px;
    min-width: 250px;
    max-width: 300px;
  }

  .swiper-button-disabled{
    @include hover;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(236, 176, 0, 0.6);
    filter: blur(0.4px);
  }

  &__card-top {
    display: flex;
    gap: 8px;
  }

  &__card-img {
    border-radius: 100%;
    width: 48px;
    height: 48px;
  }

  &__card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__card-title {
    @extend %section__title;
    font-size: 16px;
  }

  &__card-description {
    @extend %section__description;
    font-size: 16px;

  }

  &__card-bottom {
    @extend %section__title;
    font-size: 16px;
  }


}