@use "../abstracts" as *;

.hero {
  background-image:
          linear-gradient(90deg, rgba(255,255,255,0.08) 1px, transparent 1px),
          linear-gradient(0deg,  rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 64px 64px;
  position: relative;
  //z-index: 100;


  &__container {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //width: clamp(324px, 7vw, 524px);
    gap: 16px;
    width: 46%;
    margin-top: 100px;
    margin-bottom: 210px;
    @media(max-width: 850px){
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 24px;
    }
  }

  &::after {
    @include blob($orange);
    width: 352px;
    height: 597px;
    z-index: -10;
    bottom: -180px;
    left: -150px;
    rotate: (90deg);

  }

  &::before {
    @include blob($purple);
    width: 392px;
    height: 597px;
    z-index: -10;
    top: -190px;
    right: -90px;
    rotate: (-25deg);
  }

  &__title {
    font-size: 94px;
    font-weight: $fw-bold;
    line-height: 0.9;
    width: 84%;
    letter-spacing: 0.08em;

    &-accent {
      background: linear-gradient(45deg, #9F8CED 0%, #FA7C0B 18%, #9DE8EE 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      @media(max-width: 850px){
        font-size: 74px;
      }
    }
    @media(max-width: 850px){
      width: 100%;
      font-size: 80px;
      //justify-content: center;
      //align-items: center;
    }

  }

  &__description {
    font-size: 16px;
    //color: rgba($white, 0.6);
    color: $color-text-muted;
    width: 90%;
    @media(max-width: 850px){
      width: 100%;
      font-size: 14px;
      padding: 0 60px 0 0;
      //justify-content: center;
      //align-items: center;
    }
  }

  &__form {
    display: flex;
    gap: 16px;
    width: 76%;
    margin-top: 16px;
    @media(max-width: 850px){
      width: 100%;
      padding: 0 80px 0 0;
      justify-content: center;
      align-items: center;
    }

    //input {
      //width: 100%;
      //border: 1px solid $steel;
      //border-radius: 100px;
      //padding: 14px;
      //background-color: $color-bg;
      //
      //&::placeholder {
      //  color: $white;
      //}
    //}
  }
}