.wrapper {
    background-color: #f5f5f7;
    height: 150vh;
}

.header {
    background: none;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 13px;
    left: 0;
    width: 120px;
}


.header__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    border-radius: 120px;
    border: 1px solid #cecece;
    position: relative;
    @media (max-width: 830px) {
        display: none;
    }
}

.header__item {
    padding: 14px 10px;
    background-color: #fcfcfd;
    border-radius: 40px;
    transition: all 0.4s ease;
    display: flex;
}

.header__item:hover {
    background-color: #000000;
    transition: all 0.4s ease;
}

.header__item:hover .header__link {
    color: #ffffff;
    transition: all 0.4s ease;
}

.header__item:hover .header__link::after {
    transform: rotate(180deg);
    transition: all 0.4s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M12 7.5L8 11.5L4 7.5' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E");
}

.header__link {
    color: #000000;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__link::after {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12.1992%207L8.19922%2011L4.19922%207%22%20stroke%3D%22%23464554%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22square%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.header__arrow {
    display: flex;
    transition: all 0.3s ease;
}

.header__item:hover .header__arrow {
    transform: rotate(180deg);
    transition: all 0.4s ease;
}

.header-btn {
    padding: 8px 14px;
    background-color: #ff470a;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: all 0.4s ease;
}

.header-btn__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa385;
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.header-btn__arrow svg {
    transition: all 0.4s ease;
}

.header-btn:hover {
    background-color: #e43f08;
    transition: all 0.4s ease;
}

.header-btn:hover .header-btn__arrow svg {
    transform: translateX(3px);
    transition: all 0.4s ease;
}

.header__burger{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 120px;
    background-color: #fcfcfd;
    @media (min-width: 830px) {
        display: none;
    }
}

.header__burger-button{

}

.header__toggle {
    display: none;
}

.header__mobile-menu {
    position: fixed;
    top: 75px;
    right: 0;
    width: 100%;
    height: 100vh ;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 100;
}

.header__toggle:checked ~ .header__mobile-menu {
    transform: translateX(0);
}

.mobile__list{
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 26px;
    font-size: 18px;
}

.mobile__item{

}

.mobile__link{
    color: black;
}


